* {
  margin: 0;
  padding: 0;
}
body{
  width:100vw;
  height:auto;
  background-image:url(./images/dce7c00707aa83e4d211e75a81e9e2cb.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
  }
.borde {
  border: 1px solid black;
}
.cardheight {
  height: 150px;
}
.equipo {
  font-size: 12px;
}
/*
CARROUSEL
*/
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  position: absolute;
  width: 24px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(24px * 120);
}
.slider .slide {
  height: 100%;
  width: 24px;
}
.modal {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
